*{
    margin: 0;
    padding: 0;
}
.head{
    min-height: 100vh;
    width: 100% ;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background.jpeg) ;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    height: 100px;
    transition: 0.5%;
}
nav img:hover{
    box-shadow: 0 0 20px 0 rgb(0, 3, 15);
}
.add{
    background-image: url(images/background.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}
.add h3{
    width: 60%;
    color: black;
    left: 50%;
    top: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}
.add h3 a{
    text-decoration: none;
}
.home{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid rgb(38, 48, 201);
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    border-radius: 12px;
    color: blue;
}
.home:hover{
    background: gray;
}
.can{
    width: 100%;
    height: 85vh;
    background-color: #292c2f;
    text-align: center;
    padding-top: 15vh;
    color: whitesmoke;
}
.hello{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid rgb(187, 75, 40);
    border-radius: 12px;
    padding: 12px 34px;
    font-size: 15px;
    margin: 35px;
    margin-left:15%;
    background: transparent;
    cursor: pointer;
    top: 90%;
    left: 50%;
    transform: translate(-80%,-50%);
    transition: 0.5s;
}
.hello:hover{
    background-color: gray;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 1.5px;
    background: rgb(84, 216, 72);
    display: block;
    margin: auto;
    transition: 0.25s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .bi{
    display: none;
}
.text-box{
    width: 85%;
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    padding-bottom: 10vh;
}
.text-box p{
    margin: 10px 0 20px;
    font-size: 25px;
}

.camp{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 100px;
}
.camp img{
    padding-top: 20px;
    width: 100%;
}
.camp h1{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 25px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.camp-col{
    flex-basis: 40%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5% ;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.4s;
}
.camp-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.camp-col:hover{
    box-shadow: 0 0 20px 0 rgba(4,9,30,0.7);
}
.fact{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 100px;
}
.fact h1{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 25px
}
.fact-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.fact-col img{
    width: 100%;
    display: block;
    height: 100%;
}
.layer{
    transition: 0.1s;
    height: 100%;
    width: 100%;
    position:absolute;
    left: 0;
    top: 0;
}
.layer:hover{
    background: rgba(226,0,0,0.65);
}
.layer h2{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 25px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 1s ;
}
.layer:hover h2{
    bottom: 49%;
    opacity: 1;
}
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}

@media(max-width:750px){
    *{
        box-sizing: border-box;
    }
    .head{
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background2.png);
        background-color: #292c2f;
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        position:inherit;
    }
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        display: none;
        position: absolute;
        background: rgb(63, 62, 62);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index:-10000000;
        transition: 0.5s;
    }
    nav .bi{
        display: block;
        color: aqua;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .nav-links{
        padding: 20px;
    }
    .row{
        flex-direction: column;
        margin-right: 35%;
    }
    nav img{
        width: 100px;
        height: 70px;
    }
    .camp h1{
        margin-right: 30%;
    }
    .camp-col{
        width: 250%;
        flex-basis: 50%;
        margin-left: -50%;
        margin-bottom: 40%;
    }
    .fact-col{
        width: 250%;
        flex-basis: 50%;
        margin-left: -50%;
    }
    .hello{
        margin-left: 50%;
        margin-top: 50px;
    }
    .fact h1{
        margin-right: 30%;
    }
    .footer-distributed .footer-left, .footer-distributed .footer-right {
        text-align: center;
    }
    .footer-distributed .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
        line-height: 1.8;
    }
}